<!-- 	<% @favs.each do |fine| %>
		<img src="images/<%= fine %>" />
	<% end %> -->
<!-- 	<ul>
    <% $menu.each_with_index do |item,index| %>
    <li<%= @route_index == index ? " class=\"active\"" : "" %>><a href="<%= item[:href] %>"><%= item[:title] %></a></li>
    <% end %>
 -->
<!-- 	<% $pics.each do |photopic, whoisit| %>
	<% end %> -->
<!-- 	<div class="hover01 column">
		<div>
			<figure><img src="images/<%= fine %>" /></figure>
			<span><%= whoIsIt </span>
		</div>
	</div> -->


<!-- 				<span><%= whoIsIt %></span> -->

	<% @favs.each do |fine| %>
		<div class="hover01 column">
			<div>
				<figure><img src="images/<%= fine %>" /></figure>
				<span>Jeremy Snepar</span>
			</div>
		</div>
	<% end %>
